<h1>Productos</h1>

{{#each products}}
    <div>
        <h3>{{this.title}}</h3>
        <p>{{this.price}}</p>
        <a href="/products/{{this._id}}">Ver detalle</a>
    </div>
{{/each}}

{{#if hasPrevPage}}
<a href="/products?page={{prevPage}}">Anterior</a>
{{/if}}

<span>Página {{page}}</span>

{{#if hasNextPage}}
<a href="/products?page={{nextPage}}">Siguiente</a>
{{/if}}